* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}

/* HEADER */
.logoH{
    height: 80px;
    width: 180px;
}
.cont{
    display: flex;
}
.form-control{
    margin-left: 20px;
}
.navbar{
    margin-left: 20px;
}
header{
    padding: 20px;
    background-color: #D8D8D8;
}
.navbar a{
    font-size: 20px;
    color: black;
}
.navbar a:hover{
    color:#F20300;
}
.btn {
    color: #F20300;
    border-color: #F20300;
}
.btn:hover{
    color: white;
    border-color: #F20300;
    background-color: #F20300;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(22, 22, 22); 
}
.navbar-light .navbar-brand {
    color: black;
    font-size: 25px;
}
.navbar-light .navbar-brand:hover {
    font-size: 27px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: white;
    background-color: #F20300;
}
.collapse a{
    margin-left: 15px;
}
.search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;

}
/* HEADER */

.clearfix{
    clear: both;
}

.img_fondo{
    margin-top: 30px;
    padding-top: 400px;
    padding-bottom: 400px;
    background-image: url(../Imagenes/Img\ Header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 20em;

}

.Magazine{
    margin:50px;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #A6290D;
}

html{
    font-size: 130%;
    font-family: 'Anek Gujarati', sans-serif;
}
.noticias{
    margin: 20px auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    
}
.noticias > div{
    
    padding: 20px;
    border-radius: 10px;
}
.noticias .titulo01{  
    color:black;
    font-size:20px;
    padding: 30px;
    grid-column-start:1;
    grid-column-end: 2;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.noticias .noti01{
    grid-row-start: 2;
    grid-row-end: 3 ;
}

.noticias .titulo02{
    color:black;
    font-size: 20px;
    padding: 30px;
    grid-column-start:2;
    grid-column-end: 3;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.noticias .noti02{
    grid-row-start: 2;
    grid-row-end: 3 ;
}

.noticias .titulo03{
    color:black;
    font-size: 20px;
    padding: 30px;
    grid-column-start:3;
    grid-column-end:4;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.noticias .noti02{
    grid-row-start: 2;
    grid-row-end: 3 ;
}

.noti01 img{
    width: 500px;
    height: 300px;
    margin: 20px;
    object-fit: cover;
    position: center;
    transition: width 1s, height 1s;
    
}
.noti01 img:hover{
    width: 520px;
    height: 320px;
}

.noti02 img{
    width: 500px;
    height: 300px;
    margin: 20px;
    object-fit: cover;
    position: center;
    transition: width 1s, height 1s;        
}
.noti02 img:hover{
    width: 520px;
    height: 320px;
}

.noti03 img{
    width: 500px;
    height: 300px;
    margin: 20px;
    object-fit: cover;
    position: center;
    transition: width 1s, height 1s; 
}
.noti03 img:hover{
    width: 520px;
    height: 320px;
}


/* FOOTER */
footer{
    background-color: #141517;
    color: white;
    text-align: center;
    height: 300px;
}
.listServ{
    font-family: 'Open Sans', sans-serif;    
    text-decoration: none;
    text-align: center;
}
.listServ li{
    text-decoration: none;
}
.spfooter{
    font-family: 'Orbitron', sans-serif;
    padding: 15px;
    font-size: 22px;
}
.redes {
    margin: 10px;
}
.copy{
    padding: 10px;
}

footer i{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
/* FOOTER */

.navbar{
    width: 100%;
}

.collapse ul a{
    margin: 10px;

}

.btn{
    color: #A6290D;
    border-color: #A6290D;
}
.btn:hover{
    background-color: orange;
    border-color: #A6290D;
    color: #A6290D;
}







@media screen and (max-width: 600px){
    
    .encabezado{
        width: 100%!important;
    }

    .menu .contenedor ul{
        display: flex;
        justify-content: center;
        font-size: 10px;
        
    }

    .menu{
        width: 100%;
        display: flex;
    }

    .img_fondo{
        padding: 0 ;
        width: 100%;
        background-size: auto;
        margin: 0;
        
    }

    .Magazine{
        justify-content: center;
        text-align: center;
        display: flex;
        font-size: 30px;
    }

    body{
        width: 100%;
        margin: 0px;
    }
    
    .logoHeader{
        width: 400px;
        height: 120px;
    }

    .menu ul li a{
        font-size: 15px;
        margin: 0%;
    }
    
    
    .noticias{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(7, auto);
        
    }
    
    
    .noticias .titulo01{
        grid-row-start: 1;
        grid-row-end: 2 ;
        font-size: 15px;
        margin: 0px;
    }
    .noticias .noti01{
        margin: 0;
        grid-row-start: 2;
        grid-row-end: 3 ;
    }
    .noti01 img{
        width: 350px;
        height: 200px;
        margin: 0px;
    }


    .noticias .titulo02{
        grid-row-start: 3;
        grid-row-end: 4 ;
        grid-column-start: 1!important;
        margin: 0px;
        font-size: 15px;
    }
    .noticias .noti02{
        margin: 0px;
        grid-row-start: 4;
        grid-row-end: 5 ;
    }
    
    .noti02 img{
        width: 350px;
        height: 200px;
        margin: 0px;
    }


    .noticias .titulo03{
        grid-row-start: 5;
        grid-row-end: 6 ;
        font-size: 15px;
        grid-column-start: 1!important;
        margin: 0px;
        text-align: center;
    }
    .noticias .noti03{
        margin: 0;
        grid-row-start: 6;
        grid-row-end: 7 ;
        margin: 0px;

    }
    .noti03 img{
        width: 350px;
        height: 200px;
        margin: 0px;
    }

    .serv{
        text-align: center;
        font-size: 20px;
    }
    .listServ{
        font-size: 15px;
    }
    .copy{
        font-size: 15px;
    }
    .footer{
        width: 100%;
    }

}