

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}

/* HEADER */
.logoH{
    height: 80px;
    width: 180px;
}
.cont{
    display: flex;
}
.form-control{
    margin-left: 20px;
}
.navbar{
    margin-left: 20px;
    a{
        font-size: 20px;
        color: black;
    }
}
header{
    padding: 20px;
    background-color: #D8D8D8;
    width: 100%!important;
}
.navbar a:hover{
    color: #F20300;
}
.btn {
    color: #F20300;
    border-color: #F20300;
}
.btn:hover{
    color: white;
    border-color: #F20300;
    background-color: #F20300;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(22, 22, 22); 
}
.navbar-light .navbar-brand {
    color: black;
    font-size: 25px;
}
.navbar-light .navbar-brand:hover {
    font-size: 27px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: white;
    background-color: #F20300;
}
.collapse a{
    margin-left: 15px;
}
.search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}
/* HEADER */

/* MAIN INDEX */

.imgcontH img{
    width: 100%;
    height: 600px;
}

.Magazine{
    margin:20px;
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #A6290D;
}
html{
    font-size: 130%;
    font-family: 'Anek Gujarati', sans-serif;
}

.noticias{
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}
.noticias > div{
    padding: 20px;
    border-radius: 10px;
}
.noticias .titulo01{  
    color:black;
    font-size:17px;
    padding: 10px;
    grid-column-start:1;
    grid-column-end: 2;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0;
}
.noticias .noti01{
    grid-row-start: 2;
    grid-row-end: 3 ;
}

.noticias .titulo02{
    color:black;
    font-size:17px;
    padding: 10px;
    grid-column-start:2;
    grid-column-end: 3;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.noticias .noti02{
    grid-row-start: 2;
    grid-row-end: 3 ;
}

.noticias .titulo03{
    color:black;
    font-size:17px;
    padding: 10px;
    grid-column-start:3;
    grid-column-end:4;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.noticias .noti02{
    grid-row-start: 2;
    grid-row-end: 3 ;
}

.noti01 img{
    width: 350px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
    position: center;
    transition: width 1s, height 1s;
    
}
.noti01 img:hover{
    width: 360px;
    height: 210px;
}

.noti02 img{
    width: 350px;
    height: 200px;
    margin: 10px;;
    object-fit: cover;
    position: center;
    transition: width 1s, height 1s;        
}
.noti02 img:hover{
    width: 360px;
    height: 210px;
}

.noti03 img{
    width: 350px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
    position: center;
    transition: width 1s, height 1s; 
}
.noti03 img:hover{
    width: 360px;
    height: 210px;
}
/* MAIN INDEX */


/* FOOTER */
footer{
    background-color: #141517;
    color: white;
    text-align: center;
    height: 255px;
}
.listServ{
    font-family: 'Open Sans', sans-serif;    
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}
.listServ li{
    text-decoration: none;
}
.spfooter{
    font-family: 'Orbitron', sans-serif;
    padding: 15px;
    font-size: 22px;
}
.redes {
    margin: 10px;
}
.copy{
    font-size: 16px;
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif; 
}
footer i{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
/* FOOTER */

/* SECCION AUTOS */
.seccion{
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 20px;
}

.destacados{
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    margin: 20px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    text-align: center;
}
.marcaAutos{
    font-family: 'Orbitron', sans-serif;
    color: #A6290D;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.contMarca{
    text-align: center;
    justify-content: center;
}


.contenedor01{
    display: flex;
    justify-content: center;
}
.venta01 img{
    width: 350px;
    height: 250px;
    margin: 20px;
    object-fit: cover;
    position: center;
}

.venta02 img{
    width: 350px;
    height: 250px;
    margin: 20px;
    object-fit: cover;
    position: center
}
.contenedor02{
    display: flex;
    justify-content: center;
}

.venta03 img{
    width: 350px;
    height: 250px;
    margin: 20px;
    object-fit: cover;
    position: center
}
.venta04 img{
    width: 350px;
    height: 250px;
    margin: 20px;
    object-fit: cover;
    position: center
}
.contenedor03{
    display: flex;
    justify-content: center;
}

.venta05 img{
    width: 350px;
    height: 350px;
    margin: 20px;
    object-fit: cover;
    position: center
}

.contenedor04{
    display: flex;
    justify-content: center;
}

.venta06 img{
    width: 350px;
    height: 350px;
    margin: 10px;
    object-fit: cover;
    position: center
}

.galeria{
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(9, auto);
    justify-content: center;
}

.contenedor01,.contenedor02,.contenedor03,.contenedor04{
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: 20px;
    margin-bottom: 10px;
}

.marcaAutos{
    grid-column-start: 1;
    grid-column-end: 1;
}
.marcaAutos:hover{
    transform: scale(1.5);
    transition: 1s;
    
}

.venta01:hover{
    transform: 1.1;
}
.destacados:hover{
    color: #F29F05;
}
.venta01:hover{
    transform: translate(0px,-10px);
}
.venta02:hover{
    transform: translate(0px,-10px);
}
.venta03:hover{
    transform: translate(0px,-10px);
}
.venta04:hover{
    transform: translate(0px,-10px);
}
.venta05:hover{
    transform: translate(0px,-10px);
}
.venta06:hover{
    transform: translate(0px,-10px);
}
/* SECCION AUTOS */


/* SECCION ESTILOS */
.seccion{
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 25px;
    padding: 10px;
}

.drift{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #A6290D;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.contHeadDrift{
    .headerDrift{
        animation: headerImgs 1s ease 0s 1 normal forwards;
        width: 100%;
        height: 450px;
    }
}


@keyframes headerImgs {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.preg {
    text-align: center;
        h4 {
        font-size: 25px;
        color: #A6290D;
        } 
}
.contText{
    margin: 10px;
    p{
        font-size: 15px;
    }
    ul{
        li{
            font-size: 15px;
        }
    }
} 
.contImgYvid{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-bottom: 20px;
        img {
            width: 300px;
            height: 200px;
        }
        iframe{
            margin-left: 10px;
            width: 300px;
            height: 200px;
        }
}

.lowrider{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #A6290D;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.contHeadLow{
    .headerLowrider{
        margin-left: auto;
        margin-right: auto;
        display: block;
        animation: headerImgs 1s ease 0s 1 normal forwards;
        width: 100%;
        height: 450px;
        margin-bottom: 20px;
    }
}
@keyframes headerImgs {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.widebody{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #A6290D;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.contHeadWide{
    .headerWide{
        margin-left: auto;
        margin-right: auto;
        display: block;
        animation: headerImgs 1s ease 0s 1 normal forwards;
        width: 100%;
        height: 350px;
        margin-bottom: 20px;
    }
}

.contform{
    width: 500px;
    display: flex;
    padding: 0;
    margin: 0;
    form{
        justify-content: center;
    }
}

@mixin centrar {
    align-items: center;
    justify-content: center;
    align-content: center;
}

$paleta:(
    secundario: #A6290D,
    backnegro:#141517,
    hoverN:#F29F05,
    primario1: #F20300
);

@mixin cont-noticias {
    width: 300px;
    height: 200px;
    margin: 20px;
    object-fit: cover;
    position: center;
    transition: width 1s, height 1s;
}

@import "mediaQ790";
@import "mediaQ1240";



